services:
  ida:
    build:
      context: .
      target: production
    restart: unless-stopped
    volumes:
      - ida_db_data:/db_data
      - ida_static_data:/static_data
      - ida_media_data:/media_data
      - ida_log_data:/log_data
    env_file:
      - .dockerenv
    environment:
      - DJANGO_ENVIRONMENT=production
      - DJANGO_STATIC_ROOT=/static_data
      - DJANGO_MEDIA_ROOT=/media_data
      - DJANGO_DATABASE_NAME=/db_data/db.sqlite3
      - DJANGO_LOG_FILENAME=/log_data/ida.log
      - DJANGO_DEBUG=0
      - DJANGO_PROJECT_STATIC_DIR=/app/static

volumes:
  ida_db_data:
  ida_static_data:
  ida_media_data:
  ida_log_data:
